*.pyc
project.lock.json
bin/
obj/
.vs/
node_modules/
kubeconfig

# Docker certs
resources/daemon-tls/client
resources/daemon-tls/ca
resources/daemon-tls/server
resources/daemon-tls/docker-daemon-config.json

resources/nodejs-sample/Dockerfile
resources/nodejs-sample/docker-compose.yml

# Vote Dockerfile
vote/Dockerfile