version: "3"

services:
  vote:
    image: crafteo/example-voting-app-vote
    container_name: vote
    ports:
      - "5000:80"
    networks:
      - front-tier
      - back-tier

  result:
    image: result:local
    build: ./result
    command: nodemon server.js
    container_name: result
    ports:
      - "5001:80"
      - "5858:5858"
    networks:
      - front-tier
      - back-tier

  worker:
    image: worker:local
    container_name: worker
    build:
      context: ./worker
      dockerfile: Dockerfile.j
    depends_on:
      - "redis"
      - "db"
    networks:
      - back-tier

  redis:
    image: redis:alpine
    container_name: redis
    ports: ["6379"]
    networks:
      - back-tier

  db:
    image: postgres:9.4
    container_name: db
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    networks:
      - back-tier

volumes:
  db-data:

networks:
  front-tier:
  back-tier:
