# version is now using "compose spec"
# v2 and v3 are now combined!
# docker-compose v1.27+ required

services:
  vote:
    image: crafteo/example-voting-app-vote:1.1-alpine
    container_name: vote
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "5000:80"

  result:
    image: crafteo/example-voting-app-result:1.1-alpine
    command: nodemon server.js
    container_name: result
    ports:
      - "5001:80"
      - "5858:5858"
    depends_on:
      db:
        condition: service_healthy 

  worker:
    image: crafteo/example-voting-app-worker:1.1-alpine
    container_name: worker
    depends_on:
      redis:
        condition: service_healthy 
      db:
        condition: service_healthy 

  redis:
    image: redis:7.0.8-alpine3.17
    container_name: redis
    ports: ["6379"]
    volumes:
      - "./healthchecks:/healthchecks"
    healthcheck:
      test: /healthchecks/redis.sh
      interval: "5s"

  db:
    image: postgres:15.2-alpine3.17
    container_name: db
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    volumes:
      - "./healthchecks:/healthchecks"
    healthcheck:
      test: /healthchecks/postgres.sh
      interval: "5s"

volumes:
  db-data: