  traefik:
    image: traefik:v2.3
    command:
      - "--api.insecure=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # Enable Docker Swarm mode
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.swarmmode=true"
      # Enable Let's Encrypt
      - --certificatesresolvers.acmeresolver.acme.email=acme@crafteo.io
      - --certificatesresolvers.acmeresolver.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.acmeresolver.acme.caserver=https://acme-v02.api.letsencrypt.org/directory
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    networks:
      - vote_net
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    deploy:
      placement:
        constraints:
          - "node.role==manager"

  vote:
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.vote.rule=Host(`vote.pierre1.training.crafteo.io`)"
        - "traefik.http.routers.vote.entrypoints=websecure"
        - "traefik.http.routers.vote.tls=true"
        - "traefik.http.routers.vote.tls.certresolver=acmeresolver"
        - "traefik.http.services.vote.loadbalancer.server.port=80"

  result:
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.result.rule=Host(`result.pierre1.training.crafteo.io`)"
        - "traefik.http.routers.result.entrypoints=websecure"
        - "traefik.http.routers.result.tls=true"
        - "traefik.http.routers.result.tls.certresolver=acmeresolver"
        - "traefik.http.services.result.loadbalancer.server.port=80"
